TOKEN=
DEVICE_ID=

WEATHER_LAT=-33.44889
WEATHER_LON=-70.669265
WEATHER_LOCATION=Santiago
WEATHER_TIMEZONE=America/Santiago

TODOIST_API_TOKEN=
TODOIST_QUERY="overdue | today"
TODOIST_TASK_LIMIT=50

PAPERCOLOR_BASE_URL=http://192.168.4.1
BATTERY_LOG=battery_log.csv
BATTERY_CONNECT_TIMEOUT_SECONDS=3
BATTERY_MAX_TIME_SECONDS=8

HTTP_RETRIES=3
HTTP_RETRY_DELAY_SECONDS=5
HTTP_TIMEOUT_SECONDS=60
